!!! 5
html( lang="en" )
	head
		meta( charset="utf-8" )

		title The Man From Hollywood
		link( rel="stylesheet", href="c/css/hollywood.css" )
		script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" )
		script( src="c/js/hollywood.js" )

	body
		header
			h1
				span
				| The Man From Hollywood

			h2 is a Kinetic Type experiment that makes use of Advanced CSS selectors and CSS transitions*. The idea is based off of kinetic type videos that are usually created using After Effects, Flash, or other animation tools. Javascript is used, but minimally, really just to turn class names on and off. All of the animations are accomplished using CSS.

			p
				strong *Disclaimer:
				|  This demo works only works on; Chrome, Safari, and kinda-sorta on Firefox 4+.
			p
				a( href="//tylergaw.com/blog/post/502100947/you-did-what-with-what" ) read the blog post
				|  | 
				a( href="//github.com/gotik/themanfromhollywood/" ) fork it!
				|  | 
				a( href="//twitter.com/thegaw" ) follow @thegaw!
				
		hr
		
		section#stage

			a( id="play" )
				span
					i Play
			span#vignette

			dl
				dt Leo
				dd#scene-1 Begin

				dt Chester 
				dd#scene-2
					p.act-1 Ok, Ted
					p.act-2 pay attention here. I'm gonna make two piles here on the bar.
					p.act-3
						strong one pile,
						| 
						span which is
						| 
						em yours
					p.act-4
						i and
						| 
						strong another pile, 
						span which could 
							b
						em be yours
					p.act-5
						span What you have to realize is we're gonna do this thing
						| 
						strong one way
						| 
						em or the other
					p.act-6
						i Whether it's
						| 
						em you
						| 
						strong who holds the axe
						| 
						span or
					p.act-7
						i a
						| 
						strong mexican maid
						| 
						span or
					p.act-8
						strong some bum
						| 
						span
							b we
							| 
							b yank
							| 
							b off
							| 
							b the
							| 
							b street
				
				dt Norman
				dd#scene-3
					p.act-1
						span You
						| 
						span can
						| 
						span buy a
						| 
						span wh
							em ooooooo
							| le
						span lotta soup
						| 
						span with
						| 
						span that pile
				
				dt Chester
				dd#scene-4
					p.act-1
						em Shhhh!
						| 
						span I'm
						| 
						span the
						| 
						span closer
						| 
						span here
						| 
						span alright?
					p.act-2
						strong
							span I've
							| 
							span lost
							| 
							span count,
							| 
						strong
							span how
							| 
							span much
							| 
							span is on
							| 
						strong
							span the
							| 
							span bar
							| 
							span here?
				
				dt Group
				dd#scene-5 600

				dt Chester
				dd#scene-6
					p.act-1
						strong OK
						| 
						span 
							em Ted
							| 
							b Do
							| 
							b you
							| 
							b know
							| 
						span
							b how
							| 
							b long
							| 
							b it
							| 
							b takes
							| 
						span
							b the
							| 
							b average
							| 
							b American
							| 
						span
							b to
							| 
							b count
							| 
							b to
							| 
							b 600?

				dt Ted 
				dd ......

				dt Angela
				dd#scene-8
					p.act-1
						span It's a
						| 
						span rhetorical
						| 
						span question
						| 
						span
							em Ted
							| .
				dt Ted
				dd#scene-0
					p.act-1
						span No Sir
				
				dt Chester
				dd#scene-10
					p.act-1
						span About one
						| 
						span minute less
						| 
						span than it takes
						| 
						span to count to
							em ...
							em 700.
					p.act-2
						strong
							span Now,
								| 
								em Ted
								| 
							span
								b a
								| 
								b person's
								| 
								b life
								| 
								b is
								| 
								b filled
								| 
								b with
								| 
								b a
								| 
								b zillion
								| 
								b little
								| 
								b experiences
								| 
						strong
							b some
							| 
							b of
							| 
							b which
							| 
							b are
							| 
							b insignificant
							| 
							b have
							| 
							b no
							| 
							b meaning,
							| 
							b and
							| 
							b you
							| 
							b know
							| 
							b you
							| 
							b forget
							| 
							b them.
							| 
					p.act-3
						span others which you will remember
						| 
						span for the rest of your natural
							| 
							strong life.
					p.act-4
						strong Now
						| 
						span since
						| 
						span what
						| 
						span we are
						| 
						span proposing
						| 
						span here
						| 
						span is so
						| 
						span unusual.
						| 
						span S
							em oooooo
							| 
						span outside
						| 
						span the norm,
						| 
					p.act-5
						span that
						| 
						span this
						| 
						span is
						br
						span a
						| 
						span good
						| 
						span bet
						br
						span that
						| 
						span this
						| 
						span is
						br
						span going
						| 
						span to
						| 
						span be
						br
						span one
						| 
						span of
						| 
						span those
						br
						span incidences
						br
						span that
						| 
						span sticks.
					p.act-6
						span So
						| 
						span since
						| 
						span you're
						| 
						span going
						| 
						span to be
						| 
						span stuck
						| 
						span remembering
						| 
						span this
						| 
						span for the
						| 
						span rest
						| 
						span of
						| 
						span your
						| 
						span life
						| 
						span you
						| 
						span have
						| 
						span to
						| 
						span decide
						| 
						span what
						| 
						span that
						| 
						span memory
						| 
						span will
						| 
						span be.
					p.act-7 So,
						| 
						em Ted
					p.act-8
						span Are
						| 
						span you
						| 
						span going
						| 
						span to
						| 
						span remember
						| 
						span for
						| 
						span the
						| 
						span next
						| 
						span 40
						| 
						span years;
						br
						strong
							span give
							| 
							span or
							| 
							span take
							| 
							span a
							| 
							span decade
					p.act-9
						span that
						| 
						span you
						| 
						span refused
						| 
						span $1000
						br
						span for
						| 
						span one
						| 
						span second
						| 
						span worth
						| 
						span of
						| 
						span work?
					p.act-10
						strong or
						| 
						span that you
						| 
						strong made
						| 
						span $1000
							br 
							| for one second worth of work?
				
				dt Leo
				dd#scene-11
					p.act-1 Time
		hr

		footer
			a( href="//www.tylergaw.com") tyler gaw doesn't sleep
		
		audio#track-main( autobuffer )
			source( src="c/audio/hollywood.ogg" )
			source( src="c/audio/hollywood.m4a" )









				

